<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
</head>
<body>
    <%- include('common/header') %>

    <h1>This is a Profile Page</h1><br>

    <h2>
        Welcome <%= user.name%>
    </h2>
    <h2>
        your email is: <%= user.email%>
    </h2>
    <h2>
        your city is: <%= user.city%>
    </h2>
    <ul>
        <% user.skill.forEach((item)=>{%>
            <li> <%= item%> </li>
        <% })%>
    </ul>
</body>
</html>